
@*@{
    ViewBag.Title = "ReClassTwoResult";
}*@

<h2>Result of Class Two</h2>
<br/>

<div class="container">
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Bengali", "ClassTwoBengali", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("English", "ClassTwoEnglish", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Mathematics", "ClassTwoMathematics", "AllTheResult")</div>
</div>


