
@{
    ViewBag.Title = "ReClassOneResult";
}

<h2>Result of Class One</h2>
<br/>

<div class="container">
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Bengali", "ClassOneBengali", "AllTheResult")</div>
    <div class="well" style="width:40%">@Html.ActionLink("English", "ClassOneEnglish", "AllTheResult")</div>
    <div class="well" style="background-color:pink; width:40%">@Html.ActionLink("Mathematics", "ClassOneMathematics", "AllTheResult")</div>
</div>


